/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header h1 {
  margin: 0;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.header-nav a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

#main {
  flex: 1;
  padding: 20px;
}
*/

.custom-typography.custom-typography {
  font-family: "Georgia", serif;
  font-size: 45px;
}
section {
  margin-bottom: 20px;
}

#shopify-section-template {
  padding: 10px;
  border-radius: 5px;
}

#shopify-section-template a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}
